body{
    background-color: aliceblue;
    margin: 0;
    
}
.main{
    height: 100vh;
    color: aliceblue;
    background: url(background_img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.header{
    width: 100%;
    height: 5vh;
    background-color: transparent;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; 
}
.logo{
    font-size: 40px;
    font-weight: bold;
    color: rgb(214, 40, 40);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
.homeSection{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quizIntro{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeSection h1 {
    font-size: 68px;
    font-weight: 800;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.homeSection p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}
.btn_start{
    width: 160px;
    height: 40px;
    background: #c71616;
    border: 2px solid #fff;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.5 px;
    color: aliceblue;
    transition: 0.3s;
    cursor: pointer;
}
.btn_start:hover{
    background:rgb(27, 22, 22);
}
.popup{
    width: 460px;
    background-color: rgb(240, 222, 221);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 12px;
    padding: 10px 20px;
    transform: translate(-50%, -50%);
}
.popup h2{
    font-size: 44px;
    color: #c71616;
    text-align: center;
}
.info{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: darkred;
    margin: 8px 0;
    padding: 0 8px;
}
.btn_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 10px 0;
    padding: 0 8px;
}
.btn_info{
    width: 100px;
    height: 40px;
    background-color: #c71616;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    outline:none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgb(94, 16, 3);
    cursor: pointer;
    transition: 0.3s;
}
.btn_info:nth-child(1) {
    background: transparent;
    color: #c71616;
}
.btn_info:nth-child(1):hover{
    background-color: #af1a1a;
    color: #fff;
}
.btn_info:nth-child(2):hover{
    background-color: #af1a1a;
    border-color: #af1a1a;
}

